.container {
display: flex;
}
/* 1. exercice-1 */
.exercice-1 .container {
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

/* 2. exercice-2 */

/* 3. exercice-3 */

/* 4. exercice-4 */

/* 5. exercice-5 */

/* 6. exercice-6 */

/* 7. exercice-7 */

/* 8. exercice-8 */

/* 9. exercice-9 */

/* 10. exercice-10 */

